<main class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 pt-5 pb-5 text-center">
      <h3 class="mb-3">Nouveau chat</h3>

      <%= render 'form_new', item: @item  %>

      <div class="text-center">
        <%= link_to 'Accueil', admin_items_path, class:"btn btn-outline-secondary" %>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

</main>