

<div class="card text-center mt-2">
    <div class="row">
    <div class="col">
        <h5>
            <% if comment.user.first_name == nil %>
                Anonyme
            <% else %>
                <%= comment.user.first_name %>
            <% end %>
        </h5>
    </div>

        <div class="col">
            <blockquote class="blockquote">
                <p class="mb-0"><%= comment.body %></p>
        </div>
        <div class="col">
                <footer class="blockquote-footer">
                Il y a <cite title="Source Title"><%= time_ago_in_words(comment.created_at)%></cite>
                </footer>
            </blockquote>
        </div>


        <% if current_user %>
            <% if current_user.id == comment.user_id %>
            <%= link_to 'Supprimer', [comment.item,comment], method: :delete, data: { confirm: 'Es-tu sûr?' }, class: 'btn btn-danger mb-2' %>
            <% end %>
        <% end %>   
    </div>
</div>
