<main class="container mb-5">
  <h4 class="font-weight-bold my-4" >Toutes les commandes </h4>
  <% if Order.all.length == 0 %>
     <p> Aucune commande n'a été passée </p>
  <% else %>
  <% Order.all.each do |order| %>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Commande du : <%= order.created_at.strftime("%d.%m.%Y à %H:%M") %> de <%= order.user.email%></p>
        <p class="card-text"><small class="text-muted">Nombre de produits : <%= order.items.length %></small></p>
        <p class="card-text"><small class="text-muted">Total : <%= order.total %> €</small></p>
      </div>
    </div>
    <% end %>
  <% end %>

</main>