<main class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 pt-5 pb-5 text-center">
            <h3>Editer votre profil</h3>

            <%= render 'form', user: @user %>

            <div class="text-center">
                <%= link_to 'Mon Profil', @user, class:"btn btn-secondary" %> |
                <%= link_to 'Accueil', root_path, class:"btn btn-outline-secondary" %>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    
</main>