.action-banner {
  background-color: rgba(216, 38, 44, 0.753);
  color: white;
  font-size: 2.5rem;
  width: 100%;
 }

.action-banner2 {
  background-color: rgba(0, 181, 204, 0.753);
  color: white;
}

.action-banner3 {
  background-color: rgba(0, 224, 45, 0.753);
  color: white;
}

.alert{
  position: absolute;
  top: 57px;
  right: 0px; 
  left: 0px;
  width: 100%;
}