#dashboard-text {
    color: #000;
    font-family: "Montserrat", "Open Sans", sans-serif;
    line-height: 1.0;
    vertical-align: baseline;
    background: transparent;
    font-size: 1.7rem;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-weight: 700 !important;
}

.accordion button:active {
    outline: 0;
    outline-style: none;
}

.accordion button:focus {
    outline: 0;
    outline-style: none;
}