.jumbotitle {
  font-size: 6em;
}

.jumpbotron {
  background-image: url(https://images.pexels.com/photos/2698552/pexels-photo-2698552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 50px;
}

.jumpbotron2 {
  background-image: url(https://images.pexels.com/photos/2698552/pexels-photo-2698552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding-top: 50px;
}

.lowwer {
  padding: 50px;
}

.card-header {
  color: white;
  object-fit: cover;
}
