@font-face {
  font-family: "gt_haptik_trialbd";
  src: url("fonts/gt-haptik-bold-trial-webfont.woff2") format("woff2"),
    url("fonts/gt-haptik-bold-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  background-color: white;
}

/************************/
/* 	    TYPOGRAPHIES    */
/************************/

h1,
h2 {
  font-family: "gt_haptik_trialbd";
  font-weight: bold;
}

h1,
.h1 {
  font-size: 6rem;
}

h2,
.h2 {
  font-size: 4rem;
}

h3,
.h3 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
