.h4{
box-sizing: border-box;
font-weight: 700;
line-height: 1.2;
margin: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
font-size: 2rem;
padding: 0.75rem 1.25rem;
margin-bottom: 0;
border-bottom: 1px solid rgba(0,0,0,0.125);
text-align: center !important;
background-color: rgba(216, 38, 44, 0.753);
color: white;
object-fit: cover;
border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}