    <div class="jumbotron jumbotron-hero px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <div class="container">
        <h1 class="mb-1 jumbotitle text-white">
            The Cat Store
            </h1>
        <br>
        <br>
        <br>
        <br>
        <h2><%= link_to "Achète une photo de Chat", items_index_path, class:"btn btn-outline-dark mx-1 my-1" %></h2>
      </div>
    </div>