<div class="jumpbotron mx-auto text-center">
  <div class="container">
    <h1 class="mb-1 jumbotitle mt-4"> The CatStore </h1>
    <h2 class="action-banner">Achètes des photos de Chat</h2>
  </div>
</div>