<div class="jumpbotron mx-auto text-center mb-5">
  <div class="container">
    <h1 class="mb-1 jumbotitle mt-4 mb-4"> The CatStore </h1>
    <h2 class="action-banner">Achetez des photos de Chats</h2>
  </div>
</div>