<footer class="footer">
      <div class="container">
        <center>
        <span class="text-muted"><a href="#">Contact us</a> | Des photos de Chats superbes </span>
      </center>
      </div>
</footer>